@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Adjust width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    /* Default dark theme thumb color */
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Custom scrollbar styles for Firefox */
.scrollbar-custom {
    scrollbar-width: thin;
    /* Thin scrollbar for Firefox */
    scrollbar-color: rgba(82, 81, 81, 0.5) transparent;
    /* Default dark theme scrollbar color */
}

/* Light theme */
.light-mode::-webkit-scrollbar-thumb {
    background-color: rgba(114, 111, 111, 0.2);
    /* Light theme thumb color */
}

.light-mode::-webkit-scrollbar-track {
    background: transparent;
}

/* Dark theme */
.dark-mode::-webkit-scrollbar-thumb {
    background-color: rgba(109, 105, 105, 0.5);
    /* Dark theme thumb color */
}

.dark-mode::-webkit-scrollbar-track {
    background: transparent;
}